/* Оголошення змінних кольорів */
:root {
    --primary-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196F3;
    --bg-color: #F5F5F5;
    --white-color: #FFFFFF;
}

/* Загальні стилі */
body {
    font-family: Arial, sans-serif;
    color: var(--primary-color);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--white-color);
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

button {
    background-color: var(--accent-color);
    color: var(--white-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    padding: 20px;
}
